@charset "UTF-8";

/*共通部品*/
html {
	font-size: 100%;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

body {
	font-family: "Roboto", sans-serif;
	color: #432;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/*背景画像*/
.background-img {
	position: fixed;
	background-image: url(../images/AIPKT_A123044-SL_TP_V.png);
	background-position: 0;
	background-size: cover;
	width: 100%;
	height: 100vh;
	z-index: -1;
}

.title {
	font-size: 45px;
	padding-bottom: 2rem;
}

/*ウェルカムページ*/
.welcome h1 {
	font-size: 50px;
}

/*ヘッダー*/
.header-cover {
	padding: 20px 20px;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 1.0);
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	border:solid 1px rgba(210, 210, 210, 1);
	border-top:none;
}

.nav-container {
	display: flex;
	justify-content: flex-end;
}

.nav-flex {
	display: flex;
	height: 100%;
}


.nav-flex li {
	margin: 1em;
}

.nav-flex a {
	font-size: large;
}

/*セクション共通*/
section {
	padding: 60px 20px;
	max-width: 1000px;
	margin: 0 auto 2.5rem;
	background-color: rgba(245, 245, 245, 0.9);
	text-align: center;
	border:solid 1px rgba(210, 210, 210, 1);
}


/*aboutセクション*/
#about h3 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	border-bottom: double 3px rgba(220, 220, 220, 1);
	border-width: .25rem;
}

.about-text {
	width: 80%;
	margin: auto;
}

.about-item p {
	text-align: center;
	margin-bottom: 1rem;
}

/*スキルセクション*/
details {
	width: 100%;
	height: auto;
	overflow: auto;
}

.skill-list {
	display: flex;
}

.skill-container {
	flex: 1;
	border-right: solid 1px rgba(210, 210, 210, 1);
}

.skill-title {
	margin-bottom: 1rem;
	font-size: large;
	color: #432;
	background-color: rgba(220, 220, 220, 1);
}

.skill-container li {
	margin-bottom: .5rem;
}

.skill-container:nth-child(3) {
	border-right: none;
}

/*ワークセクション*/
.work-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
}

/*趣味等セクション*/
.other-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 10px;
}

.other-img {
	aspect-ratio: 1/1;
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

/*フッター*/
footer {
	padding: 20px 20px;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 1.0);
	display: flex;
	border:solid 1px rgba(210, 210, 210, 1);
}

.contact {
	width: 50%;
	text-align: center;
	border-right: solid 2px rgba(220, 220, 220, 1);
}

.info {
	width: 50%;
}

/*ボタン関係*/
.btn {
	display: inline-block;
	font-size: 1rem;
	background-color: rgba(220, 220, 220, 1);
	color: #432;
	border-radius: 8px;
	padding: .75rem 1.5rem;
	transition: 0.5s;
}

/*作成日*/
small {
	display: block;
	text-align: center;
}
